{% extends "templates/app.twig" %}

{% block content %}
    <form action="{{ path_for('auth.register') }}" class="form-signin"  method="post" autocomplete="off">
        <div class="text-center mb-4">
            <img class="mb-4" src="{{ base_url() }}/public/uploads/slim-logo.png" alt="" width="100" height="50">
            <h1 class="h3 mb-3 font-weight-normal">REGISTER</h1>
        </div>

        <div class="form-label-group">
            <label for="inputName">Full Name</label>
            <input type="text" name="name" value="{{ input.name }}" id="inputName" class="form-control {{ errors.name ? 'is-invalid' : '' }}" placeholder="Full Name" required="" autofocus="">
            {% if errors.name %}
                <span class="invalid-feedback">{{ errors.name | first }}</span>
            {% endif %}
        </div>
        <br>
        <div class="form-label-group">
            <label for="inputEmail">Email address</label>
            <input type="email" name="email" value="{{ input.email }}" id="inputEmail" class="form-control {{ errors.email ? 'is-invalid' : '' }}" placeholder="Email address" required="" autofocus="">
            {% if errors.email %}
                <span class="invalid-feedback">{{ errors.email | first }}</span>
            {% endif %}
        </div>
        <br>
        <div class="form-label-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" value="{{ input.password }}" id="inputPassword" class="form-control {{ errors.password ? 'is-invalid' : '' }}" placeholder="Password" required="">
            {% if errors.password %}
                <span class="invalid-feedback">{{ errors.password | first }}</span>
            {% endif %}
        </div>

        {{ csrf.field | raw }}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        {% include 'templates/partials/nav.twig' %}
        <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
    </form>
{% endblock %}
