<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>DATANET</title>
        <link rel="stylesheet" type="text/css" href="{{ url }}public/css/style.css">
    </head>
    <body>

    <div class="container">
        {% include 'templates/partials/flash.twig' %}
        {% block content %}{% endblock %}
    </div>
    
    <script type="text/javascript">
    var url = "{{ url }}";
    var DEBUG = false;
    </script>
    <script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>!window.jQuery && document.write('<script src="{{ url }}public/jQuery/3.4.1.min.js"><\/script>');</script>
    <script src="{{ url }}public/js/jQuery/termynal.min.js" data-termynal-container="#terminal"></script>
    <script src="{{ url }}public/js/functions.js"></script>
    <script src="{{ url }}public/js/cmd.js"></script>
    <script src="{{ url }}public/js/app.js"></script>
    </body>
</html>


